@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --col1: #ffc20e;
}

.mainhead1{
  -webkit-text-stroke: 3px #54B4D3;
  color: transparent;
  font-size: 10rem;
  font-weight: 900;
  text-align: center;
  
}

.countshadow {
  box-shadow: 1px 6px 20px 0px #7396bd; 
}

.weeklyCard {
  flex: 1;
  min-width: 280px;
  padding: 24px;
  border: 1px solid #404040;
  border-radius: 14px;
  box-shadow: 1px 6px 20px 0px #7396bd;
  display: flex;
  flex-direction: column;
  gap: 6px;

}



.weeklyTitle{
  font-weight: 600;
  font-size: 16px;
  color: #007AFF;
}




